@font-face {
    font-family:"Open Sans Condensed Light";
    src: url("OpenSans-CondLight.eot?") format("eot"),
    url("../fonts/OpenSans-CondLight.woff") format("woff"),
    url("../fonts/OpenSans-CondLight.ttf") format("truetype"),
    url("../fonts/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
    font-weight:normal;font-style:normal;
}




* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Page */

.page {
    display: flex;
    flex-direction: column;    
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    min-width: 400px;
}

.page__container {
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
/* Page end */
/* Header */

.header {
    padding-top: 50px;
    height: 230px;
}


.header__logo {
    margin-right: auto;
    align-self: flex-end;
} 

.header__phone-numbers {
    margin-left: auto;
}
/* Header end */

/* Logo */

.logo__image {
    width: 273px;
    height: 100px;
}

/* Logo end*/

/* Phone-numbers */
.phone-numbers {
    text-align: right;
    color: #3b3b3b;
}


.phone-numbers__first, .phone-numbers__second {
    font-family: "Open Sans Condensed Light";
    font-size: 38px;
    margin-bottom: 0.48em;
    margin-top: 0;
    align-self: flex-start;
}
/* Phone-numbers end */

/* Feedback-link */
.feedback-link {
    font-weight: bold;
    margin-top: 0;
    font-size: 22px;
    border-bottom: 1px dashed black;
    text-decoration: none;
    color: inherit;
}

/* Feedback-link */
/* Menu */

.menu {
    background-color: #3b3b3b;
    height: 80px;
}

.menu__list {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.8em;
    font-size: 14px;
}

.menu__item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 8px;
    font-size: 1.55em; 
}

.menu__item {
    border-right: 1px solid white;
}

.menu__item--last {
    border-right: none;
}

.menu__link {
    text-decoration: none;
    color: white;
}

/* Menu end */

/* Footer  */

.footer {
    background-color: #3b3b3b;
    color: white;
    margin-top: auto;
    height: 220px;
    padding-top: 50px;
}

.footer__menu {
    list-style: none;
    flex-basis: 30%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 0;
}

.footer__menu-link {
    color: inherit;
}

/* Footer end */
/* Website-develpment */

.website-development {
    display: flex;
    align-items: flex-start;
}

.website-development__statement, .website-development__by {
    margin-top: 3px;
    margin-bottom: 7px;
    line-height: 16px;
}

.website-development__link{
    color: inherit;        
}


.website-development__image {
    padding-top: 7px;
    margin-right: 7px;
} 

/* Website-development end */

/* Js-slider */

.js-slider {
    height: 400px;
}

.js-slider__container {
    position: relative;
    display: block;
    height: 100%;
    width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.js-slider__left-arrow, .js-slider__right-arrow {
    position: absolute; 
    top: 195px;
    z-index: 1;
}

.js-slider__left-arrow {
    left: 130px;
}

.js-slider__right-arrow {
    right: 130px;
}

.js-slider__image-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-animation: fade 5s ease-out 4s infinite;
    -moz-animation:    fade 5s ease-out 4s infinite;
    -o-animation:      fade 5s ease-out 4s infinite;
    animation:         fade 5s ease-out 4s infinite;
}


@-webkit-keyframes fade {
    0%, 100%   { opacity: 1;   }
    25%        { opacity: 0.3; }
    50%        { opacity: 1;   }
  }
  @-moz-keyframes fade {
    0%, 100%   { opacity: 1;   }
    25%        { opacity: 0.3; }
    50%        { opacity: 1;   }
  }
  @-o-keyframes fade {
    0%, 100%   { opacity: 1;   }
    25%        { opacity: 0.3; }
    50%        { opacity: 1;   }
  }

@keyframes fade {
    0%, 100%   { opacity: 1;   }
    25%        { opacity: 0.3; }
    50%        { opacity: 1;   }
}


/*JS-slider end */

/* Breadcrumbs */

.breadcrumbs__list {
    list-style: none;
    width: 100%;
    text-align: left;
    color: #7f7f7f;
    padding: 0px;
}

.breadcrumbs__item {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.breadcrumbs__link {
    color: #7f7f7f;
    padding-right: 4px;
    padding-left: 6px;
}
.breadcrumbs__link--last {
    text-decoration: none;
}

.breadcrumbs__link--first {
    padding-left: 0px;
}
/* Breadcrumbs end*/

/* Catalog */

.catalog__leftblock {
    width: 24%;
}

.catalog__centerblock {
    width: 76%;
    min-width: 350px;
}

/* Catalog end*/
/* Leftblock */
.leftblock__download {
    margin-top: 100px;
}
/* Leftblock */
/* Categories */

.categories {
    list-style: none;
    padding-left: 0px;
}

.categories__item {
    padding-bottom: 8px;
}


.categories__link {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 18px;
}

.categories__link--active {
    text-decoration: underline;
} 

.categories__subcategories-list {
    list-style: none;
    padding-left: 10px;
    display: none;
}

.categories__subcategories-list--active {
    display: block;
}


.categories__subcategory {
    color: #7f7f7f;
    cursor: pointer;
    display: inline;
}

.categories__subcategory--active {
    text-decoration: underline;
    font-weight: bold;
}

.categories__bullet {
    padding-right: 4px;
    color: #636363;
}
/* Categories end*/

/* Download */
.download {
    text-align: center;
}
.download__price-list {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}
/* Download end */
/* Centerblock */
.centerblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}
.centerblock__item {
    flex-basis: 32%;
    margin-bottom: 15px;
    margin-right: 2%;
}

.centerblock__item:nth-child(3n+3) {
    margin-right: 0px;
}

.centerblock__pagination {
    width: 100%;
}

/* Centerblock end */
/* Product */

.product {
    background-color: #6e6e6e;
    padding: 20px;
    max-width: 250px;
}

.product__image {
    width: 100%;
}

.product__price {
    font-size: 25px;
    color: #222222;
    float: left;
}

.product__description {
    color: #3b3b3b;
    font-size: 18px;
    margin-bottom: 2.1em;
    padding-right: 0.6em;
}

.product__basket {
    float: right;
    padding-right: 10px;
}

/* Product */
/* Pagination */

.pagination {
    text-align: center;
}

.pagination__link {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #464646;
}

.pagination__link--active {
    font-size: 170%;
    color: #222222;
}
/* Pagination end */
/* About */
.about__column {
    width: 38%;
}

.about__column--first {
    margin-left: auto;
    padding-right: 16px;
}
/* About end */
/* Modal */

.modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #7f7f7f7e;
    /* this is nessesary or modal's pacity will change when slide's opacity changes */
    z-index: 4; 
}

.modal--show {
    display: block;
}

.modal__popup {
    position: absolute;
    height: 605px;
    width: 31em;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.modal__close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 27px;
    height: 27px;
}

.modal__content {
    position: absolute;
    right: 27px;
    top: 27px;
    background-color: white;
    padding: 1.2em 3.3em 1.1em 3.3em;
}

.modal__header {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: black;
}


.modal__form {
    margin-right: auto;
    margin-left: auto;
    width: 340px;
}

/* Modal end */
/* Close */

.close-button {
    background-color: #777777;
}

.close-button__image {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 15px;
    height: 15px;
}

/* Close end*/

/* Feedback form */

.feedback-form__input {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    border: none;
    border: 1px solid #c3c3c3;
    padding-left: 9px;
}

.feedback-form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: #de8a8a;
    font-size: 12px;
  }

.feedback-form__input::-moz-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: #de8a8a;
    font-size: 12px;
}

.feedback-form__input:-ms-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: #de8a8a;
    font-size: 12px;
}

.feedback-form__input:-moz-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: #ff8383;
    font-size: 12px;
}

.feedback-form__error {
    margin-bottom: 22px;
    width  : 100%;
    padding: 0;   
    font-size: 70%;
    color: white;
    background-color: rgba(209, 60, 60, 0.952);
}


.feedback-form__error--active {
    margin-top: 0.2em;
    padding: 0.3em 9px;
  }


.feedback-form__input--invalid {
    border: 1px solid #ff8383;
    -moz-box-shadow:    inset 0 0 5px 5px #fbe8e8;
    -webkit-box-shadow: inset 0 0 5px 5px #fbe8e8;
    box-shadow:         inset 0 0 5px 5px #fbe8e8;
}

.feedback-form__label {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-bottom: 9px;
}

.feedback-form__message {
    width: 100%;
    margin-bottom: 14px;
    resize: none;
}

.feedback-form__submit {
    width: 128px;
    height: 42px;
    background-color: #777777;
    color: white;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 18px;
}
/* Feedback-form end */

@media (max-width: 1249px) {
    .js-slider {
        display: none;
    }
}

@media (max-width: 780px) {
    .catalog__leftblock {
        width: 30%;
        margin-right: 2%;
    }
    .catalog__centerblock {
        width: 68%;
    }

    .centerblock__item {
        flex-basis: 48%;
    }

    .centerblock__item:nth-child(odd) {
        margin-right: 4%;
    }

    .centerblock__item:nth-child(even) {
        margin-right: 0px;
    }

    .product__description {
        font-size: 15px;
    }
     
    .phone-numbers__first, .phone-numbers__second {
        font-size: 26px;
    }

    .about__column {
        font-size: 14px;
        line-height: 1em;
    }
}

@media (max-width: 500px) {

    .header {
        height: 180px;
    }

    .logo__image {
        width: 208px;
        height: 75px;
    }

    .phone-numbers__first, .phone-numbers__second {
        font-size: 22px;
    }

    .menu__list {
        font-size: 12px;
    }

    .catalog__centerblock {
        width: 100%;
    }

    .catalog__leftblock {
        width: 100%;
        display: flex;
    }

    .leftblock__categories {
        width: 60%;
    }

    .leftblock__download {
        margin-top: 15px;
        width: 40%
    }

    .download__price-list {
        font-size: 20px;
    }

    .catalog__container {
        flex-direction: column;
    }

    .about__column {
        width: 50%;
    }

    .footer__container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__menu, .footer__website-development {
        flex-basis: 50%;
    }

    .footer__copyright {
        order: 1;
        width: 100%;
        text-align: center;
    }
}